<div class="md:mt-24 bg-gray-50 grid place-items-center py-12 px-4 sm:px-6 lg:px-8">

  <div class="w-full max-w-md space-y-8">
    <h2 class="text-center underline text-3xl font-bold text-gray-900">
    Create your account
    </h2>

    <div class="bg-white py-8 px-4 shadow-lg sm:rounded-lg sm:px-10">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "space-y-6" }) do |f| %>
        <div class="error-text mb-4">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>

        <div>
          <%= f.label :username, class: "block font-medium text-gray-700" %>
          <div class="mt-1">
            <%= f.text_field :username, placeholder: "Your username", autofocus: true, autocomplete: "username", class: "form-input w-full" %>
          </div>
        </div>

        <div>
          <%= f.label :email, class: "block font-medium text-gray-700" %>
          <div class="mt-1">
            <%= f.email_field :email, placeholder: "you@example.com", autocomplete: "email", class: "form-input w-full" %>
          </div>
        </div>

        <div>
          <div class="flex justify-between items-baseline">
            <%= f.label :password, class: "block font-medium text-gray-700" %>
            <% if @minimum_password_length %>
              <em class=" text-gray-500">(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          </div>
          <div class="mt-1">
            <%= f.password_field :password, placeholder: "••••••••", autocomplete: "new-password", class: "form-input w-full" %>
          </div>
        </div>

        <div>
          <%= f.label :password_confirmation, class: "block  font-medium text-gray-700" %>
          <div class="mt-1">
            <%= f.password_field :password_confirmation, placeholder: "••••••••", autocomplete: "new-password", class: "form-input w-full" %>
          </div>
        </div>

        <div>
          <%= f.submit "Sign up", class: "w-full flex justify-center py-2 px-4 btn-primary" %>
        </div>
      <% end %>

      <div class="mt-6">
        <div class="relative">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
          </div>
          <div class="relative flex justify-center">
            <span class="px-2 bg-white text-gray-500">
              Or
            </span>
          </div>
        </div>

        <div class="mt-6 text-center">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
