<%= form_with(model: post, class: "space-y-6") do |form| %>
  <% if post.errors.any? %>
    <div
      class="
        bg-error-100 border-l-4 border-error-500 text-error-700 p-4 rounded-lg
      "
      role="alert"
    >
      <div class="font-bold text-error-700">Could not save post:</h2>

      <ul class="mt-3 list-disc list-inside space-y-1">
        <% post.errors.full_messages.each do |message| %>
          <li class="error-text"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, class: "block text-xl font-medium leading-6 text-primary-900" %>
    <div class="mt-2">
      <%= form.text_field :title, class: "form-input w-full" %>
    </div>
  </div>

  <div>
    <%= form.label :content,
               class: "block text-xl font-medium leading-6 text-primary-900" %>
    <div class="mt-2">
      <%= form.rich_text_area :content, class: "form-input" %>
    </div>
  </div>

  <div class="flex items-center gap-4">
    <%= form.submit "Save Post", class: "btn-bubble" %>
    <%= link_to "Cancel", posts_path, class: "link-bubble" %>
  </div>
<% end %>
