<div class="mt-8 max-w-2xl mx-auto">
  <%= render @post %>

  <div id="comments" class="mt-8">
    <h3 class="text-2xl font-bold text-primary-800 mb-4">
      Comments
    </h3>
    <%= render @post.comments %>
  </div>

  <div class="mt-8">
    <% if user_signed_in? %>
      <%= render "comments/form", post: @post, comment: @post.comments.build %>
    <% else %>
      <div class="bubble-card-flat p-6 text-center">
        <p class="text-neutral-600">
          <%= link_to "Log in",
          new_user_session_path,
          class:
            "text-secondary-600 cursor-pointer transition-all hover:text-secondary-700 hover:underline duration-200" %>
          or
          <%= link_to "sign up",
          new_user_registration_path,
          class:
            "text-secondary-600 cursor-pointer transition-all hover:text-secondary-700 hover:underline duration-200" %>
          to leave a comment.
        </p>
      </div>
    <% end %>
  </div>
</div>
